.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    display: flex
    justify-content: space-between
    align-items: center
    &__offer
      margin-left: 14px
      margin-top: 4px
    &__hotel-name
      margin-top: 4px
      margin-bottom: 0
  &-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap
  &-name
    font-size: 24px
    line-height: 30px
  &-description
    margin: 0
    font-size: 12px
    line-height: 15px
.stars
  flex-basis: 100%
.offer
  font-size: 10px
  line-height: 13px
  padding: 3px 9px 4px 9px
  background-color: $primary
  color: $light
  border-radius: 3px
.rating
  padding: 9px 6px 6px 7px
  color: $light
  background-color: $primary
  border-radius: 4px
  text-align: center
  &__text
    font-size: 8px
    line-height: 10.04px
  &__counter
    font-size: 14px
    line-height: 17.57px
