.hotel
  padding-top: 17px
  padding-bottom: 70px
  &-info
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 20px
    &__offer
      margin-left: 14px
      margin-top: 4px
    &__hotel-name
      margin-top: 4px
      margin-bottom: 0
  &-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap
  &-name
    font-size: 24px
    line-height: 26px
  &-description
    margin: 0
    font-size: 12px
    line-height: 15px
  &-grid
    display: flex
    justify-content: space-between
    &__slider
      background-color: #009
      width: 728px
      height: 450px
    &__wrapper
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: flex-end
    &__booking
      background-color: #900
      width: 350px
      height: 210px
    &__map
      background-color: #090
      width: 347px
      height: 213px
.stars
  flex-basis: 100%
.offer
  font-size: 10px
  line-height: 13px
  padding: 3px 9px 4px 9px
  background-color: $primary
  color: $light
  border-radius: 3px
.rating
  padding: 3px 6px 4px 6px
  color: $light
  background-color: $primary
  border-radius: 4px
  text-align: center
  &__text
    margin: 0
    font-size: 8px
    line-height: 8px
  &__counter
    &__value
      font-size: 14px
      line-height: 17.57px
      margin: 0
    &__from
      font-size: 10px
      line-height: 12.55px
      margin: 0
